/* Advanced Styles */

#pov .card {
    border : 1.5px solid whitesmoke;
    user-select: none;
}

#opponent .card {
    background-image: repeating-linear-gradient(
        135deg,
        transparent,
        transparent 10px,
        #ccc 50px,
        #ccc 12px
    );
    background-size: 1em 1em;
    background-repeat: repeat;

    border: 1px solid #888;
}


/* Animation Station */

#pov .card:hover {
    // background:
    //     radial-gradient(ellipse at top left, #e0c91cba, transparent),
    //     radial-gradient(ellipse at bottom right, #dbdb2d9b, transparent);
    background:
        radial-gradient(ellipse at top left, #dddddd66, transparent),
        radial-gradient(ellipse at bottom right, #dddddd33, transparent);
    animation: handHover 0.35s ease-in-out;
    transform: var(--transform, none) scale(1.05);
    text-shadow: 3px 3px rgba(0, 0, 0, 0.75);
}


@keyframes handHover {
    50% {
        transform: var(--transform, none) scale(1.1);
        rotate: var(--rotation, 0deg) ;
    }
    100% {
        transform: var(-transform, none) scale(1.05);
        rotate: var(--rotation, 0deg);
    }
}
