<!-- This component will get a 5 vs 5 hand size with a line in between -->



<!-- MILESTONE 2 -->
<!-- The milestone will be complete when the server takes an active role in game management.
      This includes handling player turns, managing the game state, and enforcing rules.
      Also, the game should still be able to be played singleplayer somehow. 
      I'm also going to try and clean up the code a bit. -->


<!-- MILESTONE 1 -->
<!-- The milestone will be complete when cards are selectable, with animations for
            selecting cards as well as simply hovering over them.
     It doesn't need to look good. It just needs to be serviceable. -->

@if (gameReady) { 
  <h2>Test Game Component</h2>
  <div class="test-game">
    <div id="opponent">
      <app-hand
        #oppRef
        [playerType]="oppType"
        [gameHand]="oppHand"></app-hand>
    </div>
  
    <div ng-if="false">
      <!-- <app-battlefield></app-battlefield> -->
      <!-- <div class="line"></div> -->
      <!-- <app-scoreboard></app-scoreboard> -->
    </div>
  
    <div id="player">
      <app-battlefield></app-battlefield>
      <app-hand
        #povRef
        [playerType]="povType"
        [gameHand]="povHand"></app-hand>
    </div>
  </div>
}