<div class="outerEdge">
  <div id="opponentRow">
    @for (num of divs; track num) {
      <div class="icon-container">
          <fa-icon [icon]="faCaretDown" [class.invisible]="!oppPegs.includes(num)"></fa-icon>
        <div class="circle"></div>
      </div>
    }
  </div>
  <div id="playerRow">
    @for (num of divs; track num) {
      <div class="icon-container">
          <fa-icon
            [icon]="faCaretDown"
            [class.invisible]="!povPegs.includes(num)"
            class="hover-highlight"
            draggableIcon>
          </fa-icon>
        <div class="circle"></div>
      </div>
    }
  </div>
</div>
