.battlefield {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.battlefield .card {
    user-select: none;
}


#reset {
    visibility: hidden;
    background-color: linear-gradient(
        50deg,
        black 0%,
        #333 25%,
        #555 50%,
        #333 75%,
        black 100%
    );
}





/* Animation Station */

.battlefield .card:hover {
    background:
        radial-gradient(ellipse at top left, #cb5623ba, transparent),
        radial-gradient(ellipse at bottom right, #96542e9b, transparent);
    animation: handHover 0.35s ease-in-out;
    transform: scale(1.05);
    text-shadow: 3px 3px rgba(0, 0, 0, 0.75);
}

@keyframes handHover {
    25% {
        transform: scale(1.05);
        rotate: -2deg;
    }
    50% {
        transform: scale(1.1);
        rotate: 2deg;
    }
    75% {
        transform: scale(1.05);
        rotate: -2deg;
    }
    100% {
        transform: scale(1.05);
        rotate: 0deg;
    }
}